<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oráculo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>

<body>

  <section class="content">
    <img class="logo" src="{{url_for('static', filename='/img/logo_deuses.png') }}" alt="logo">
    <p>Conhece-ti a ti mesmo e  <br> conhecerá o universo e os Deuses </p>
   
  </section>

  <img class="estrelas direita" src="{{url_for('static', filename='/img/estrelas_deuses.png') }}" alt="estrelas">
  <img class="estrelas esquerda" src="{{url_for('static', filename='/img/estrelas_deuses.png') }}" alt="estrelas">

 <div class="container">
    <button class="button" value="buscar" id="escolher-deus">
        DESCUBRA SEU DEUS 
    </button>
  </div>

  <dialog id="dialog" class="dialog">

    <form id="form">
        <section class="content">
        <h1 class="txt"> Descubra seu Deus Regente <br> pelo seu Nascimento: </br>  </h1>
        <input class="form mini" id="dia" name="dia" type="number" placeholder="xx"> / </input>
        <input class="form mini" id="mes" name="mes" type="number" placeholder="xx"> / </input>
        <input class="form" id="ano" name="ano" type="number" placeholder="xxxx"></input>
        <br></br>
        <button type="submit" id="enviar" class="button-md">Enviar</button>
        <button type="button" id="close" class="button-md">Fechar</button>
    </section>
    </form>

  </dialog>

  <div class="line">
    <img class="caixa" src="{{url_for('static', filename='/img/caixa.png') }}" alt="caixa">
    <img class="caixa ladob" src="{{url_for('static', filename='/img/caixa.png') }}" alt="caixa">
  </div>


  <section class="content">
   <p>Escolha seu Deus </p>
  </section>
  
 <div class="container">
    <ul class="Deuses">

        <li>
            <img src="{{url_for('static', filename='/img/atena.jpg') }}" alt="atena">
            <button class="nomes-deuses" onclick="selecionaDeus('atena')">
                Atena
            </button>
           
        </li>
        <li>
            <img src="{{url_for('static', filename='/img/hermes.jpg') }}" alt="Hermes">
            <button class="nomes-deuses" onclick="selecionaDeus('hermes')">
                Hermes
            </button>
        </li>
        <li>
            <img src="{{url_for('static', filename='img/afrodite.jpg') }}" alt="Afrodite">
            <button class="nomes-deuses" onclick="selecionaDeus('afrodite')">
                Afrodite
            </button>
        </li>
        <li>
            <img src="{{url_for('static', filename='/img/apollo.jpg') }}" alt="Apollo">
            <button class="nomes-deuses" onclick="selecionaDeus('apollo')">
                Apollo
            </button>
        </li>
        <li>
            <img src="{{url_for('static', filename='/img/dionisio.jpg') }}" alt="Dionísio">
            <button class="nomes-deuses" onclick="selecionaDeus('dionisio')">
                Dionísio
            </button>
        </li>
        <li>
            <img src="{{url_for('static', filename='/img/poseidon.jpg') }}" alt="Poseidon">
            <button class="nomes-deuses" onclick="selecionaDeus('poseidon')">
                Poseidon
            </button>
        </li>
        <li>
            <img src="{{url_for('static', filename='/img/zeus.jpg') }}" alt="Zeus">
            <button class="nomes-deuses" onclick="selecionaDeus('zeus')">
                Zeus
            </button>
        </li>
        <li>
            <img src="{{url_for('static', filename='/img/hades.jpg') }}" alt="Hades">
            <button class="nomes-deuses" onclick="selecionaDeus('hades')">
                Hades
            </button>
        </li>
        <li>
            <img src="{{url_for('static', filename='/img/artemis.jpg') }}" alt="Artemis">
            <button class="nomes-deuses" onclick="selecionaDeus('artemis')">
                Artemis
            </button>
        </li>
        <li>
            <img src="{{url_for('static', filename='/img/hera.jpg') }}" alt="Hera">
            <button class="nomes-deuses" onclick="selecionaDeus('hera')">
                Hera
            </button>
        </li>

    </ul>
 </div>
    
 <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>